<h1 class="mt-5">All borrowed books</h1>
<div>
  <table class="table table-bordered table-striped table-hover align-middle">
      <thead class= "table-dark">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>ISBN</th>
          <th>Due Date</th>
          <th>Borrowed By</th>
        </tr>
      </thead>
      <tbody>
        <% @borrowed_books.each do |borrow| %>
          <tr>
            <td> <%= borrow.book.title %> </td>
            <td> <%= borrow.book.author %> </td>
            <td> <%= borrow.book.genre %> </td>
            <td> <%= borrow.book.isbn %> </td>
            <td> <%= borrow.due_date.strftime("%m/%d/%Y") %> </td>
            <td> <%= borrow.user.name %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-start">
      <%== pagy_bootstrap_nav(@pagy_borrowed_books) %>
    </div>
</div>

<h1 class="mt-5">Due Today books</h1>
<div>
  <table class="table table-bordered table-striped table-hover align-middle">
      <thead class= "table-dark">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>ISBN</th>
          <th>Due Date</th>
          <th>Borrowed By</th>
        </tr>
      </thead>
      <tbody>
        <% @due_today_books.each do |due_today| %>
          <tr>
            <td> <%= due_today.book.title %> </td>
            <td> <%= due_today.book.author %> </td>
            <td> <%= due_today.book.genre %> </td>
            <td> <%= due_today.book.isbn %> </td>
            <td> <%= due_today.due_date.strftime("%m/%d/%Y") %> </td>
            <td> <%= due_today.user.name %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-start">
      <%== pagy_bootstrap_nav(@pagy_due_today_books) %>
    </div>
</div>

<h1 class="mt-5">Overdue books</h1>
<div>
  <table class="table table-bordered table-striped table-hover align-middle">
      <thead class= "table-dark">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>ISBN</th>
          <th>Due Date</th>
          <th>Borrowed By</th>
        </tr>
      </thead>
      <tbody>
        <% @overdue_books.each do |overdue| %>
          <tr>
            <td> <%= overdue.book.title %> </td>
            <td> <%= overdue.book.author %> </td>
            <td> <%= overdue.book.genre %> </td>
            <td> <%= overdue.book.isbn %> </td>
            <td> <%= overdue.due_date.strftime("%m/%d/%Y") %> </td>
            <td> <%= overdue.user.name %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-start">
      <%== pagy_bootstrap_nav(@pagy_overdue_books) %>
    </div>
</div>